.mainimg{
    align-self: center;
    width: 90%;
    box-shadow: gray;
    margin-left: 5%;
    margin-right: 5%;
}
.box{
    align-content: center;
    display:grid;
    margin-right: 10px;
    text-align: left;
    
    
    padding: 2%;
    width: 100%;
    font-size: xx-large;
    color: cornsilk;
    background-color: black;
}
.desc{
    font-size: x-large;
    font-style: italic;
    color: white;
    
}
